
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #003580 0%, #001d33 100%);
    z-index: -1; /* Ensure it is behind all content */
  }
  
  /* Register container styling */
  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
  }
  
  .rContainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .rInput {
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .rInput:focus {
    border-color: #003580;
  }
  
  .rButton {
    border: none;
    padding: 10px 20px;
    background-color: #003580;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .rButton:disabled {
    background-color: #0035808c;
    cursor: not-allowed;
  }
  
  .rButton:hover {
    background-color: #002a66;
    transform: scale(1.05);
  }
  
  /* Error message styling */
  .errorMessage {
    color: red;
    text-align: center;
  }
  