/* navbar.css */
.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #fff; /* Background color for nav buttons */
  color: #003580; /* Text color for nav buttons */
  text-decoration: none; /* Remove default underline */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.navButton:hover {
  background-color: #e0e0e0; /* Background color on hover */
}
